extends blog-layout

block content
    
    br
    br
    //Page content
    .container
        .row
            // Blog Entries Column
            .col-md-8
                h1.my-4
                 | #{authorFullName}'s blogs
                 small    Read below...
                if noMatch
                    h5 Sorry, there were no blogs titled "#{searchQuery}". Try search again!
                if !noMatch
                    each blog, i in blogs
                        .card.mb-4.cardStyle
                            .paddingBlogs
                                .card-body
                                    h2.card-title #{blog.title}
                                    p.card-text #{blog.body}
                                    a.btn.btn-primary(href='/blog-posts/'+blogAuthor+'/'+blog._id) Read More &rarr;
                            .card-footer.text-muted
                                | posted by #{blog.author}, #{moment(blog.date).fromNow()}
                    // Pagination
                ul.pagination.justify-content-center.mb-4
                    li.page-item
                        a.page-link(href='#') &larr; Older
                    li.page-item.disabled
                        a.page-link(href='#') Newer &rarr;                
                              
            // Sidebar Widgets Column
            .col-md-4
                // Search Widget
                .card.my-4.cardStyle
                   h5.card-header#centre #{authorFullName}
                   if author.profilePicID
                       img.blogProfilePic(src='http://localhost:3000/user/images/'+ author.profilePicID alt='')
                   else
                       img.blogProfilePic(src='/img/defaultProfile.png')
                   h5.card-header Search
                    .card-body
                        form.form-inline(action="/blog-posts/"+blogAuthor method="GET")
                            div.form-group
                                input.form-control#normalfont(name='search', type='text', placeholder= 'Blog search...' class='form-control')
                                br
                                input.btn.btn-primary(type='submit', value='Search')
                .card.my-4
                    if user && (user.username == blogAuthor)
                        a.btn.btn-primary(href='/blog-posts/'+user.username+'/submit') Create a post
                    if !user
                        a.btn.btn-primary(data-toggle='modal' data-target='#loginModal')  Sign in to comment on a post!
                    
    #loginModal.topModal.modal.fade.customLogin
        .modal-dialog.modal-dialog-centered.modal-wider
            .modal-content
                .modal-header#logo
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    img(src="/img/profolio-tight.png" width= 300 height= 70)
                    h4.modal-title Login
                .modal-body
                    form(method='POST' action='/user/login')
                        .form-label-group
                            input#inputUsername.form-control(name= 'username' type='text' placeholder='Username' required='' autofocus='')
                            label(for='inputUsername') Username
                        .form-label-group
                            input#inputPassword.form-control(name='password' type='password' placeholder='Password' required='')
                            label(for='inputPassword') Password
                        .custom-control.custom-checkbox.mb-3
                            input#customCheck1.custom-control-input(type='checkbox')
                            label.custom-control-label(for='customCheck1') Remember password
                        br
                        button.btn.btn-lg.btn-primary.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(type='submit') Sign in
                        br
                        a.button.btn.btn-lg.btn-google.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2(href='/user/auth/google')
                            i.fa.fa-google.mr-2
                            |  Sign in with Google
                .modal-footer.makeCentre
                    a(href='/user/signup') Register for your own ProFolio!
                    br
                    a(href='/user/forgot-password') Forgot Password?