doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title E-Portfolio | #{user2.first_name} #{user2.last_name}
    meta(name='description' content='')
    meta(name='author' content='')
    //
      Favicons
      ==================================================
    link(rel='shortcut icon' href='/img/favicon1.ico' type='image/x-icon')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/img/apple-touch-icon-114x114.png')
    
    // icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome/css/font-awesome.css')
    link(href='css/mdb.min.css' rel='stylesheet')
    //
      Stylesheet
      ==================================================
    
    link(rel='stylesheet' type='text/css' href='/css/typewriter.css')
    link(rel='stylesheet' type='text/css' href='/css/index.css')
    link(rel='stylesheet' type='text/css' href='/css/prettyPhoto.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css')
    script(type='text/javascript' src='js/modernizr.custom.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
// Header
header#header.d-flex.flex-column.justify-content-center
    nav.nav-menu
        ul.nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li
                a.page-scroll(href='#hero').text-center
                    i.fa.fa-home.navbar-icons
                        span Home
            li
                a.page-scroll(href='#about').text-center
                    i.fa.fa-user.navbar-icons
                        span About
            li
                a.page-scroll(href='#skills').text-center
                    i.fa.fa-rocket.navbar-icons
                        span skills
            li
                a.page-scroll(href='#portfolio').text-center
                    i.fa.fa-suitcase.navbar-icons
                        span Portfolio
            li
                a.page-scroll(href='#experience').text-center
                    i.fa.fa-fire.navbar-icons
                        span Experience
            li
                a.page-scroll(href='#education').text-center
                    i.fa.fa-graduation-cap.navbar-icons
                        span Education
            li
                a.page-scroll(href='#contact').text-center
                    i.fa.fa-address-card.navbar-icons
                        span Contact

#hero.d-flex.flex-column.justify-content-center
    .intro
        if user2.backgroundPicID
            img.background(src='http://localhost:3000/user/image/' + user2.backgroundPicID.filename alt='no_image')
        if !user2.backgroundPicID
            img.background(src='/img/defaultBackground.jpg' alt='no_image')
        .container
            .row#homescreen
                .intro-text
                    h1.title
                        | Hello, I&apos;m
                        span.name  #{user2.first_name}

                    p
                        |I'm a
                        span.txt-rotate(data-period='1000' data-rotate='[ " Designer.", " Developer.", " Typewriter!" ]')


                    a.btn.btn-default.btn-lg.page-scroll(href='#about') Learn More
                    a.btn.btn-default.btn-lg.page-scroll(href='/blog-posts/'+user2.username)#BlogButton View Blogs


#nav
    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top#colour
        .container#colour
            a.navbar-brand(href='/user/profile' + user2.username) #{user2.first_name} #{user2.last_name}
            if user
                .nav-item.dropdown#positionRight
                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        img#navbarProfilePic(src='http://localhost:3000/user/images/'+ user.profilePicID alt='no_image') 
                        | #{user.first_name} #{user.last_name}     
                
                        i.fa.fa-caret-down
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        li
                            a(href='/user/profile/')#dropdown-item My Profile
                        li
                            a.dropdown-item(href='/blog-posts/'+user.username)#dropdown-item My Blog Page
                        li
                            a.dropdown-item(type='button' data-toggle='modal' data-target='#contactModal')#dropdown-item Manage Account
                        li
                            a.drop-down-item(type='button' data-toggle='modal' data-target='#passwordModal')#dropdown-item Change Password
                        li
                            a.dropdown-item(href='/user/logout')#dropdown-item Logout
            else
                a#login(data-toggle='modal' data-target='#loginModal') Login
                
                    
// About Section
#about
    .container
        .section-title.text-center.center
            h2 About Me
            hr
        .row
            .col-md-12.text-center
                if user2.profilePicID
                    .circular
                        img.img-responsive(src='http://localhost:3000/user/image/'+ user2.profilePicID.filename)
                if !user2.profilePicID
                    .circular
                        img.img-responsive(src='/img/defaultProfile.png' alt='no_img')
            .col-md-8.col-md-offset-2
                .about-text
                    p
                        | #{user2.bio}
                    .text-center
                        if user2.resumeID
                            a.btn.btn-primary(href='http://localhost:3000/user/resume/' + user2.resumeID.filename + '?iframe=true&width=1000&height=1000' title= 'Resume' rel='prettyPhoto')
                                i.fa.fa-download
                                |  View Resume
                            a.btn.btn-primary(href='/blog-posts/'+user2.username)#BlogButton View Blogs

// Skills Section
#skills.text-center
    .container
        .section-title
            h2 Skills
            hr

        for c in user2.skills
            .column
                h4 #{c.name}
                hr
                br

#portfolio
    .container
        .section-title.text-center.center
            h2 Portfolio
            //embed(src='http://localhost:3000/user/document/'+user1.document[0].filename type='application/pdf' width='200' height='400')
            hr
            .clearfix
                .categories
                    ul.cat
                        li
                            ol.type
                                li
                                    a.active(href='#' data-filter='.doc') Documents
                                li
                                    a(href='#' data-filter='.vid') Videos
        .row
            .portfolio-items
                for doc in user2.document
                    .col-sm-6.col-md-3.col-lg-3.doc
                        .portfolio-item
                            .hover-bg
                                a(href='http://localhost:3000/user/document/'+doc.filename+'?iframe=true&width=1000&height=1000' title=doc.filename rel='prettyPhoto')
                                    .hover-text
                                        h4 #{doc.title}
                                        small #{doc.subHead}
                                    embed(src='http://localhost:3000/user/document/'+doc.filename + '#toolbar=0&navpanes=0&scrollbar=0' type='application/pdf' width='270' height='250')

        .row
            .portfolio-items
                for vid in user2.youtubeLinks
                    .col-sm-6.col-md-3.col-lg-3.vid
                        .portfolio-item
                            .hover-bg
                                a(href=vid.url title='Project description' rel='prettyPhoto')
                                    .hover-text
                                        h4 #{vid.title}
                                        small #{vid.subheading}
                                    img.img-responsive(src=vid.thumbnail alt='Project Title')
                                    //iframe(width='420' height='345' src=vid.url)


// Resume Section
#experience.text-center
    .container
        .section-title.center
            h2 Experience

            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user2.experience
                        li
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.experienceStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.experienceEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.company}
                                    h4.subheading
                                        span #{c.role}
                                .timeline-body
                                    p
                                        | INSERT YOUR DESCRIPTION HERE !
                                    br

// Education section
#education.text-center
    .container
        .section-title.center
            h2 Education
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user2.education
                        li.timeline-inverted
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.educationStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.educationEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.university}
                                    h4.subheading
                                        span #{c.degree}
                                .timeline-body
                                    p
                                        | INSERT YOUR DESCRIPTION HERE !
                                    br


// Contact Section
#contact.text-center
    .container
        .section-title.center
            h2 Contact
            br
            br
            hr
        .col-md-8.col-md-offset-2
            .col-md-4
                i.fa.fa-map-marker.fa-2x
                p #{user2.city}, #{user2.state}
            .col-md-4
                i.fa.fa-envelope-o.fa-2x
                p #{user2.email}
            .col-md-4
                i.fa.fa-phone.fa-2x
                p  #{user2.phone}
            .clearfix
        .col-md-8.col-md-offset-2
            a.btn(href='mailto:'+user2.email) Send me an email!

            .social
                ul
                    if user2.links.facebook
                        li
                            a(href= user2.links.facebook)
                                i.fa.fa-facebook
                    if user2.links.twitter
                        li
                            a(href= user2.links.twitter)
                                i.fa.fa-twitter
                    if user2.links.github
                        li
                            a(href= user2.links.github)
                                i.fa.fa-github
                    if user2.links.instagram
                        li
                            a(href= user2.links.instagram)
                                i.fa.fa-instagram
                    if user2.links.linkedIn
                        li
                            a(href= user2.links.linkedIn)
                                i.fa.fa-linkedin


#footer
    .container.text-center
        .fnav
            p
                | Tessagon
        .social
            ul
                li
                    iframe#down(src='https://www.facebook.com/plugins/share_button.php?href=https://tessagon-e-portfolio.herokuapp.com/user/profile/'+ user2.username + '%2F&layout=button&size=small&width=67&height=20&appId'  width='77' height='28' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
                    script(type='IN/Share' data-url='https://tessagon-e-portfolio.herokuapp.com/user/profile/'+ user2.username)
script(type='text/javascript' src='/js/jquery.1.11.1.js')
script(type='text/javascript' src='/js/bootstrap.js')
script(type='text/javascript' src='/js/SmoothScroll.js')
script(type='text/javascript' src='/js/easypiechart.js')
script(type='text/javascript' src='/js/jquery.prettyPhoto.js')
script(type='text/javascript' src='/js/jquery.isotope.js')
script(type='text/javascript' src='/js/jquery.counterup.js')
script(type='text/javascript' src='/js/waypoints.js')
script(type='text/javascript' src='/js/jqBootstrapValidation.js')
script(type='text/javascript' src='/js/contact_me.js')
script(type='text/javascript' src='/js/main.js')
script(type='text/javascript' src='/js/typewriter.js')


#loginModal.topModal.modal.fade
    .modal-dialog.modal-login
        .modal-content
            .modal-header
                h4.modal-title Login
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
            .modal-body
                form(method='POST' action='/user/login')
                    .form-group
                        i.fa.fa-user
                        input.form-control(name='username' type='text' placeholder='Username' required='required')
                    .form-group
                        i.fa.fa-lock
                        input.form-control(name='password' type='password' placeholder='Password' required='required')
                    .form-group
                        input.btn.btn-primary.btn-block.btn-lg(type='submit' value='Login')
                        a.button.btn-lg.btn-google.btn-block.text-uppercase(href='/user/auth/google')
                            i.fa.fa-google.mr-2
                            |  Sign up with Google
            .modal-footer
                //TODO
                a(href='/user/signup') Register for your own ProFolio!
                br
                br
                a(href='/user/forgot-password') Forgot Password?

