doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title E-Portfolio | #{user1.first_name} #{user1.last_name}
    meta(name='description' content='')
    meta(name='author' content='')
    //
      Favicons
      ==================================================
    link(rel='shortcut icon' href='/img/favicon1.ico' type='image/x-icon')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/img/apple-touch-icon-114x114.png')
    // icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome/css/font-awesome.css')
    // W3 
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')


    //
      Stylesheet
      ==================================================

    link(rel='stylesheet' type='text/css' href='/css/typewriter.css')
    link(rel='stylesheet' type='text/css' href='/css/index.css')
    link(rel='stylesheet' type='text/css' href='/css/prettyPhoto.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css')

    // linkedIn share api
    script(src='https://platform.linkedin.com/in.js' type='text/javascript')
    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(type='text/javascript' src='/js/modernizr.custom.js')

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

// Header
header#header.d-flex.flex-column.justify-content-center
    nav.nav-menu
        ul.nav

            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
                a(href='#page-top')
            li
                a.page-scroll(href='#hero').text-center
                    i.fa.fa-home.navbar-icons
                        span Home
            li
                a.page-scroll(href='#about').text-center 
                    i.fa.fa-user.navbar-icons
                        span About
            li
                a.page-scroll(href='#skills').text-center
                    i.fa.fa-rocket.navbar-icons
                        span Skills
            li
                a.page-scroll(href='#portfolio').text-center 
                    i.fa.fa-suitcase.navbar-icons
                        span Portfolio
            li
                a.page-scroll(href='#experience').text-center  
                    i.fa.fa-fire.navbar-icons
                        span Experience
            li
                a.page-scroll(href='#education').text-center
                    i.fa.fa-graduation-cap.navbar-icons
                        span Education
            li
                a.page-scroll(href='#contact').text-center
                    i.fa.fa-address-card.navbar-icons
                        span Contact

#hero.d-flex.flex-column.justify-content-center
    .intro
        if user1.backgroundPicID
            img.background(src='https://theprofolio.herokuapp.com/user/image/' + user1.backgroundPicID.filename alt='no_image')
        if !user1.backgroundPicID
            img.background(src='/img/defaultBackground.jpg' alt='no_image')
        .container
            .row#homescreen
                .intro-text
                    h1.title
                        | Hello, I&apos;m
                        span.name  #{user1.first_name}

                    p
                        |I'm a&nbsp;
                        span.txt-rotate(data-period='1000' data-rotate=user1.typewriterWords)
                    

                    a.btn.btn-default.btn-lg.page-scroll(href='#about') Learn More
                    a.btn.btn-default.btn-lg.page-scroll(href='/blog-posts/'+user.username)#BlogButton View Blogs
                    br
                    br
                    a.btn.btn-default.btn-lg.page-scroll(type='button' data-toggle='modal' data-target='#homeModal')
                        |Edit Home Page


#nav
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-static-top#colour
        .container#colour
            a.navbar-brand(href='/user/profile/') My Profile
            #alert
                if message
                    div(style='text-align: center' class='alert alert-' + message.type).navbar-static-top
                        button.close(type='button' data-dismiss='alert') &times;
                        strong #{message.intro}
                        |  #{message.message}
            .nav-item.dropdown#positionRight
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    img#navbarProfilePic(src='https://theprofolio.herokuapp.com/user/images/'+ user.profilePicID alt='no_image')
                    | #{user.first_name} #{user.last_name}     
                
                    i.fa.fa-caret-down
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    li
                        a(href='/user/profile/')#dropdown-item My Profile
                    li
                        a.dropdown-item(href='/blog-posts/'+user.username)#dropdown-item My Blog Page
                    li
                        a.dropdown-item(type='button' data-toggle='modal' data-target='#contactModal')#dropdown-item Manage Account
                    li
                        a.drop-down-item(type='button' data-toggle='modal' data-target='#passwordModal')#dropdown-item Change Password
                    li
                        a.dropdown-item(href='/user/logout')#dropdown-item Logout



           






// About Section
#about
    .container
        .section-title.text-center.center
            h2 About Me
            hr
        .row
            .col-md-12.text-center
                if user1.profilePicID
                    .circular
                        img.img-responsive(src='http://localhost:3000/user/image/'+ user1.profilePicID.filename)
                if !user1.profilePicID
                    .circular
                        img.img-responsive(src='/img/defaultProfile.png' alt='No Profile Picture')
            .col-md-8.col-md-offset-2
                .about-text
                    p#wrap
                        | #{user1.bio}
                    .text-center
                        p.text-center
                        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#bioModal')
                            | Edit About Me
                        button.btn.btn-primary(href='/blog-posts/'+user.username)#BlogButton View Blogs
                    br
                    br
                    .text-center
                        if user1.resumeID
                            a.btn.btn-primary(href='https://theprofolio.herokuapp.com/user/resume/'+user1.resumeID.filename+'?iframe=true&width=1000&height=1000' title= 'Resume' rel='prettyPhoto')
                                i.fa.fa-download
                                |  View Resume
// Skills Section
#skills.text-center
    .container
        .section-title
            h2 Skills
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editSkills')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addSkills')
                | Add
            hr
    
        for c in user1.skills
            .column 
                h4 #{c.name}
                hr
                br
                
    

        
         
// Portfolio Section
#portfolio
    - var isVid = false;
    .container
        .section-title.text-center.center
            h2 Portfolio
            //embed(src='https://theprofolio.herokuapp.com/user/document/'+user1.document[0].filename type='application/pdf' width='200' height='400')
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#editPortfolioModal')
                | Edit Portfolio
            br
            br
            hr
            .clearfix
                .categories
                    ul.cat
                        li
                            ol.type
                                //li
                                //TODO fix data-filter here
                                    a.active(href='#') All
                                li
                                    a.active(href='#portfolio' data-filter='.doc').hideVid Documents
                                li
                                    a(href='#portfolio' data-filter='.vid').showVid Videos
                                li
                                    a(data-filter='.achievements').hideVid Achievements

        .row
            .portfolio-items
                for doc in user1.document
                    .col-sm-6.col-md-3.col-lg-3.doc
                        .portfolio-item
                            .hover-bg
                                a(href='https://theprofolio.herokuapp.com/user/document/'+doc.filename+'?iframe=true&width=1000&height=1000' title=doc.filename rel='prettyPhoto')
                                    .hover-text
                                        h4 #{doc.title}
                                        small #{doc.subHead}
                                    embed(src='https://theprofolio.herokuapp.com/user/document/'+doc.filename + '#toolbar=0&navpanes=0&scrollbar=0' type='application/pdf' width='270' height='300')
                .col-sm-6.col-md-3.col-lg-3.doc
                    .portfolio-item
                        .hover-bg
                            a(href='img/plus.jpg' data-toggle='modal' data-target='#portfolioModal')
                                .hover-text
                                    h4 Add Document
                                embed(src='/img/plus.png' width='255' height='250')
        -//if isVids
            .row
                .portfolio-items
                    for vid in user1.youtubeLinks
                        .col-sm-6.col-md-3.col-lg-3.vid
                            .portfolio-item
                                .hover-bg
                                    a(href=vid.url title= vid.subheading rel='prettyPhoto')
                                        .hover-text
                                            h4 #{vid.title}
                                            small #{vid.subheading}
                                        img.img-responsive(src=vid.thumbnail alt=vid.title)
                                        //iframe(width='420' height='345' src=vid.url)
                    .col-sm-6.col-md-3.col-lg-3.vid
                        .portfolio-item
                            .hover-bg
                                a(href='img/plus.png' data-toggle='modal' data-target='#videoModal')
                                    .hover-text
                                        h4 Add Video
                                    embed(src='/img/plus.png' width='255' height='250')

            .row
                .portfolio-items
                    for achievement in user1.achievement
                        .col-sm-6.col-md-3.col-lg-3.achievements
                            h4 #{achievement.name}
                            br
                            h5 #{achievement.description}
                    .col-sm-6.col-md-3.col-lg-3.achievements
                        a.btn-primary(data-toggle='modal' data-target='#editAchievements') Edit Achievements


// Resume Section
#experience.text-center
    .container
        .section-title.center
            h2 Experience
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editExperience')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addExperience')
                | Add
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user1.experience
                        li
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.experienceStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.experienceEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.company}
                                    h4.subheading
                                        span #{c.role}
                                .timeline-body
                                    p
                                        | #{c.descriptionExp}
                                    br

// Education section                   
#education.text-center
    .container
        .section-title.center
            h2 Education
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editEducation')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addEducation')
                | Add
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user1.education
                        li.timeline-inverted
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.educationStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.educationEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.university}
                                    h4.subheading
                                        span #{c.degree}
                                .timeline-body
                                    p
                                        | #{c.descriptionEdu}
                                    br


                        
// Contact Section
#contact.text-center
    .container
        .section-title.center
            h2 Contact
            br
            br
            hr
        .col-md-8.col-md-offset-2
            .col-md-4
                i.fa.fa-map-marker.fa-2x
                p #{user1.city}, #{user1.state}
            .col-md-4
                i.fa.fa-envelope-o.fa-2x
                p #{user1.email}
            .col-md-4
                i.fa.fa-phone.fa-2x
                p  #{user1.phone_number}
            .clearfix
        .col-md-8.col-md-offset-2
            a.btn(href='mailto:'+user1.email) Send me an email!

            .social
                ul
                    if user1.links.facebook
                        li
                            a(href= user1.links.facebook)
                                i.fa.fa-facebook
                    if user1.links.twitter
                        li
                            a(href= user1.links.twitter)
                                i.fa.fa-twitter
                    if user1.links.github
                        li
                            a(href= user1.links.github)
                                i.fa.fa-github
                    if user1.links.instagram
                        li
                            a(href= user1.links.instagram)
                                i.fa.fa-instagram
                    if user1.links.linkedIn
                        li
                            a(href= user1.links.linkedIn)
                                i.fa.fa-linkedin
            a.btn(data-toggle='modal' data-target='#contactModal') Link your other socials!
                    
#footer
    .container.text-center
        .fnav
            p
                | Tessagon
        .social
             ul
                li
                    iframe#down(src='https://www.facebook.com/plugins/share_button.php?href=https://tessagon-e-portfolio.herokuapp.com/user/profile/'+ user1.username + '%2F&layout=button&size=small&width=67&height=20&appId'  width='77' height='28' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
                    script(type='IN/Share' data-url='https://tessagon-e-portfolio.herokuapp.com/user/profile/'+ user1.username)
                    br
                    br
                    hr
                    a.btn(href='/tessagon/about-us') Meet the Tessagon Team!
script(type='text/javascript' src='/js/jquery.1.11.1.js')
script(type='text/javascript' src='/js/bootstrap.js')
script(type='text/javascript' src='/js/SmoothScroll.js')
script(type='text/javascript' src='/js/easypiechart.js')
script(type='text/javascript' src='/js/jquery.prettyPhoto.js')
script(type='text/javascript' src='/js/jquery.isotope.js')
script(type='text/javascript' src='/js/jquery.counterup.js')
script(type='text/javascript' src='/js/waypoints.js')
script(type='text/javascript' src='/js/jqBootstrapValidation.js')
script(type='text/javascript' src='/js/contact_me.js')
script(type='text/javascript' src='/js/main.js')
script(type='text/javascript' src='/js/typewriter.js')
script(type='text/javascript' src='/js/modalID.js')
script(src='/js/experienceScript.js')
script(src='/js/educationScript.js')
script(src='/js/achievementScript.js')
script(type='text/javascript' src='/js/navbar.js')
script(src='/js/skillScript.js')




#portfolioModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/upload' enctype="multipart/form-data").form-signin
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#portfolioModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    label(for='uploadDocuments') Document Title
                    input.form-control-file(name='title' type='text' placeholder='Title' autofocus='' required='isRequired')
                    label(for='uploadDocuments') Document Subheading
                    input.form-control-file.padLeft(name='subHead' type='text' placeholder='Sub-Heading' autofocus='' required='isRequired')
                    label(for='uploadDocuments') Upload a document
                    input#uploadDocuments.form-control-file(name='file' type='file' required='isRequired' accept="application/pdf")
                    label(for='uploadDocuments') Document Title
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type ='submit') Upload file

#editPortfolioModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editPortfolioModalLabel.modal-title Edit Portfolio
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                h2 Documents
                for doc_name in user1.document
                    h3 #{doc_name.title} - #{doc_name.subHead}
                    button.btn.btn-secondary.delete-document(type ='button', document-id=doc_name._id data-dismiss='modal') Remove
                    hr
                h2 Videos
                for vid in user1.youtubeLinks
                    h3 #{vid.title} - #{vid.subheading}
                    //button.btn.btn-secondary(type ='button', video-id = video.url._id) Remove
                    hr
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-secondary(type ='submit') Save changes

#bioModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='bioModalLabel' aria-hidden='true')
    form#bioForm(method='POST' action='/user/editAboutMe' enctype="multipart/form-data")
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#bioModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    textarea#Aboutme.form-control(form='bioForm' name='bio' placeholder='Tell me about yourself!' autofocus='' rows='8' cols='70' wrap='soft') #{user1.bio}
                    br
                    label(for='editResume') Edit your resume!
                    input#editResume.form-control-file(name='resume' type='file' accept="application/pdf")
                    label(for='editProfilePic') Edit your profile picture!
                    input#editProfilePic.form-control-file(name='propic' type='file')
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes            

#contactModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editNavInfo')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#contactModalLabel.modal-title Edit Contact Information
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    label Contact number (E.g 0412 345 678)
                    input#contactNumber.form-control(name="phone_number" type='tel' placeholder='phone' autofocus='' required='isRequired' value = user1.phone_number)
                    br
                    label City
                    input#inputCity.form-control(name="city" type='text' placeholder='City' autofocus='' required='isRequired' value = user1.city)
                    br
                    label State
                    input#inputState.form-control(name="state" type='text' placeholder='State' autofocus='' required='isRequired' value = user1.state)
                    br
                    label Email address
                    input#inputEmail.form-control(name='email' type='email' placeholder='Email address' required='' value = user1.email)
                    label Facebook
                    input.form-control(name='facebook' type='text' autofocus='' value = user1.links.facebook)
                    br
                    label Twitter
                    input.form-control(name='twitter' type='text' autofocus='' value = user1.links.twitter)
                    br
                    label Github
                    input.form-control(name='github' type='text' autofocus='' value = user1.links.github)
                    br
                    label Instagram
                    input.form-control(name='instagram' type='text' autofocus='' value = user1.links.instagram)
                    br
                    label LinkedIn
                    input.form-control(name='linkedIn' type='text' autofocus='' value = user1.links.linkedIn)
                    br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes


#homeModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='homeModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editHomeInfo' enctype="multipart/form-data")
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#homeModalLabel.modal-title Edit Home Page
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    label First Name
                    input#inputFirstname.form-control(name="first_name" type='text' autofocus='' required='isRequired' value = user1.first_name)
                    br
                    label Last Name
                    input#inputSurname.form-control(name="last_name" type='text' autofocus='' required='isRequired' value = user1.last_name)
                    br
                    label Typewriter 1
                    input.form-control(name='typewriterWords' type='text' autofocus='' value = user1.typewriterWords[0])
                    br
                    label Typewriter 2
                    input.form-control(name='typewriterWords' type='text' autofocus='' value = user1.typewriterWords[1])
                    br
                    label Typewriter 3
                    input.form-control(name='typewriterWords' type='text' autofocus='' value = user1.typewriterWords[2])
                    br
                    input#editBackgroundPic.form-control-file(name='background' type='file')
                    label(for='editBackgroundPic') Edit your background picture!
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes

#addExperience.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addExperiencelabel' aria-hidden='true')
    form(method='POST' action='/user/addExperience')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#addExperiencelabel.modal-title Add new Experience
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#addCompany.form-control(name="company" type='text' autofocus='' required='isRequired')
                    label(for='addExperience') Company Name
                    br
                    input#addRole.form-control(name="role" type='text' autofocus='' required='isRequired')
                    label(for='addRole') Role Name
                    br
                    input#addDescription.form-control(name="descriptionExp" type='text' autofocus='' required='isRequired')
                    label(for='addDescription') Short description of your role!
                    br
                    .col-md-3
                        label(for='expStartDate') Start date:
                        input#expStartDate(name= "experienceStartDate" type='month' required='isRequired')
                    .col-md-3
                        label(for='expEndDate') End date:
                        input#expEndDate(name= "experienceEndDate" type='month' required='isRequired')
                br
                br
                br
                br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary.add-experience(type='submit') Save changes

#editExperience.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editExperiencelabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editExperiencelabel.modal-title Edit Experience
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for i in user1.experience
                    h3 #{i.company}
                    form(method='POST' action='/user/editExperience/' + i._id)
                        label(for='company'+i._id) Company Name
                        input.form-control(id='company'+i._id name="company" type='text' autofocus='' required='isRequired' value=i.company)
                        br
                        label(for='role'+i._id) Role
                        input.form-control(id='role'+i._id name="role" type='text' autofocus='' required='isRequired' value=i.role)
                        br
                        label(for='expDescription'+i._id) Short description of your role!
                        input.form-control(id='descriptionExp'+i._id name="descriptionExp" type='text' autofocus='' required='isRequired' value=i.descriptionExp)
                        br
                        .container
                            .row
                                .col-md-6
                                    | Start date:
                                    input.padDate(id='expStart'+i._id name= "experienceStartDate" type='month' required='isRequired' value=i.experienceStartDate)
                                .col-md-6
                                    | End date:
                                    input.padDate(id='expEnd'+i._id name= "experienceEndDate" type='month' required='isRequired' value=i.experienceEndDate)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-experience(href='/user/profile#experience' experience-id=i._id data-dismiss='modal') Save changes
                                    a.btn.btn-secondary.delete-experience(href='/user/profile#experience' experience-id=i._id data-dismiss='modal') Delete Experience
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

#addEducation.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='educationModalLabel' aria-hidden='true')
    form(method='POST' action='/user/addEducation')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#addEducationlabel.modal-title Add new Education
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#university.form-control(name="university" type='text' autofocus='' required='isRequired')
                    label(for='university') School Name
                    br
                    input#degree.form-control(name="degree" type='text' autofocus='' required='isRequired')
                    label(for='degree') Degree Name
                    br
                    input#eduDescription.form-control(name="descriptionEdu" type='text' autofocus='' required='isRequired')
                    label(for='eduDescription') Add a bit about your degree!
                    br
                    .col-md-3
                        label(for='eduStartDate') Start date:
                        input#eduStartDate(name= "educationStartDate" type='month' required='isRequired')
                    .col-md-3
                        label(for='eduEndDate') End date:
                        input#eduEndDate(name= "educationEndDate" type='month' required='isRequired')
                br
                br
                br
                br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary.add-education(type='submit') Save changes


#editEducation.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editEducationlabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editEducationlabel.modal-title Edit Education
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for i in user1.education
                    h3 #{i.university}
                    form(method='POST' action='/user/editEducation/' + i._id)
                        label(for='university'+i._id) University Name
                        input.form-control(id='university'+i._id name="university" type='text' autofocus='' required='isRequired' value=i.university)
                        br
                        label(for='degree'+i._id) Degree
                        input.form-control(id='degree'+i._id name="degree" type='text' autofocus='' required='isRequired' value=i.degree)
                        br
                        label(for='eduDescription'+i._id) Short description about your degree!
                        input.form-control(id='descriptionEdu'+i._id name="descriptionEdu" type='text' autofocus='' required='isRequired' value=i.description)
                        br
                        .container
                            .row
                                .col-md-6
                                    | Start date:
                                    input.padDate(id='eduStart'+i._id name= "educationStartDate" type='month' required='isRequired' value=i.educationStartDate)
                                .col-md-6
                                    | End date:
                                    input.padDate(id='eduEnd'+i._id name= "educationEndDate" type='month' required='isRequired' value=i.educationEndDate)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-education(href='/user/profile#education' type='submit' education-id=i._id data-dismiss='modal') Save changes
                                    a.btn.btn-secondary.delete-education(href='/user/profile#education' education-id=i._id data-dismiss='modal') Delete Education
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

#videoModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/uploadVid')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#videoModalLabel.modal-title Upload Video
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input.form-control-file(name='video' type='text' placeholder='Video' autofocus='' required='isRequired')
                    label Video Link
                    br
                    input.form-control-file(name='title' type='text' placeholder='Video' autofocus='' required='isRequired')
                    label Title
                    br
                    input.form-control-file(name='subheading' type='text' placeholder='Video' autofocus='' required='isRequired')
                    label Topic
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type ='submit') Upload Video


#passwordModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/change-password')
        .modal-dialog.modal-dialog-centered.modal-med
            .modal-content
                .modal-header
                    h5.modal-title Change Password
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    input.form-control(name='old_password' type='password' autofocus='' required='isRequired')
                    label Current Password
                    br
                    input.form-control(name='new_password' type='password' autofocus='' required='isRequired' pattern='(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Password must be at least 8 characters and contain 1 number')
                    label New Password
                    br
                    input.form-control(name='new_password1' type='password' autofocus='' required='isRequired' pattern='(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Password must be at least 8 characters and contain 1 number')
                    label Re-enter New Password
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save Changes


#editSkills.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='skillsModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-md
        .modal-content
            .modal-header
                h5.modal-title Edit Skills
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for skill in user1.skills
                    form(method='POST' action='/user/editSkill/'+skill._id)
                        h3 #{skill.name}
                        input.form-control(name='skill_name' type='text' placeholder='Skills' autofocus='' value=skill.name id="skills"+skill._id)
                        button.btn.btn-secondary.edit-skill(href='/user/profile#skills' type='submit' skill-id=skill._id data-dismiss='modal') Save Changes
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                


#addSkills.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addskillsModalLabel' aria-hidden='true')
    form(method='POST' action='/user/addSkills')
        .modal-dialog.modal-dialog-centered.modal-md
            .modal-content
                .modal-header
                    h5.modal-title Add Skills
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input.form-control(name='skills' type='text' placeholder='Add a new skill' autofocus='')
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save Changes
#editAchievements.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5.modal-title Edit Achievement
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for achievement in user1.achievement
                    h3 #{achievement.name}
                    form(method='POST' action='/user/editAchievement/' + achievement._id)
                        label(for='name'+achievement._id) Achievement Name
                        input.form-control(id='achievement_name'+achievement._id name="achievement_name" type='text' autofocus='' required='isRequired' value=achievement.name)
                        br
                        label(for='role'+achievement._id) Description
                        input.form-control.achievementDesc(id='descriptionAch'+achievement._id name="descriptionAch" type='text' autofocus='' required='isRequired' value=achievement.description)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-achievement(href='/user/profile#portfolio' achievement-id=achievement._id data-dismiss='modal') Save changes
                                    a.btn.btn-secondary.delete-achievement(href='/user/profile#portfolio' achievement-id=achievement._id data-dismiss='modal') Delete Achievement
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
