doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title E-Portfolio | #{user1.first_name} #{user1.last_name}
    meta(name='description' content='')
    meta(name='author' content='')
    //
      Favicons
      ==================================================
    link(rel='shortcut icon' href='/img/favicon1.ico' type='image/x-icon')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/img/apple-touch-icon-114x114.png')
    // icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome/css/font-awesome.css')
    // W3 
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')


    //
      Stylesheet
      ==================================================

    link(rel='stylesheet' type='text/css' href='/css/typewriter.css')
    link(rel='stylesheet' type='text/css' href='/css/index.css')
    link(rel='stylesheet' type='text/css' href='/css/prettyPhoto.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css')

    // linkedIn share api
    script(src='https://platform.linkedin.com/in.js' type='text/javascript')
    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(type='text/javascript' src='/js/modernizr.custom.js')

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
// Header
header#header.d-flex.flex-column.justify-content-center
    nav.nav-menu
        ul.nav

            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
                a(href='#page-top')
            li.active
                a.page-scroll(href='#hero').text-center
                    i.fa.fa-home.navbar-icons
                        span Home
            li
                a.page-scroll(href='#about').text-center 
                    i.fa.fa-user.navbar-icons
                        span About
            li
                a.page-scroll(href='#skills').text-center
                    i.fa.fa-rocket.navbar-icons
                        span skills
            li
                a.page-scroll(href='#portfolio').text-center 
                    i.fa.fa-suitcase.navbar-icons
                        span Portfolio
            li
                a.page-scroll(href='#experience').text-center  
                    i.fa.fa-fire.navbar-icons
                        span Experience
            li
                a.page-scroll(href='#education').text-center
                    i.fa.fa-graduation-cap.navbar-icons
                        span Education
            li
                a.page-scroll(href='#contact').text-center
                    i.fa.fa-address-card.navbar-icons
                        span Contact

#hero.d-flex.flex-column.justify-content-center
    .intro
        if user1.backgroundPicID
            img.background(src='http://localhost:3000/user/image/' + user1.backgroundPicID.filename alt='no_image')
        if !user1.backgroundPicID
            img.background(src='/img/defaultBackground.jpg' alt='no_image')
        .container
            .row#homescreen
                .intro-text
                    h1.title
                        | Hello, I&apos;m
                        span.name  #{user1.first_name}

                    p
                        |I'm a&nbsp;
                        span.txt-rotate(data-period='1000' data-rotate=user1.typewriterWords)
                    

                    a.btn.btn-default.btn-lg.page-scroll(href='#about') Learn More
                    br
                    br
                    a.btn.btn-default.btn-lg.page-scroll(type='button' data-toggle='modal' data-target='#homeModal')
                        |Edit Home Page



#nav
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-static-top#colour
        .container#colour
            a.navbar-brand(href='/user/profile/') My Profile
            .nav-item.dropdown#positionRight
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    img#navbarProfilePic(src='http://localhost:3000/user/images/'+ user.profilePicID alt='no_image') 
                    | #{user.first_name} #{user.last_name}     
                
                    i.fa.fa-caret-down
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                    li
                        a(href='/user/profile/')#dropdown-item My Profile
                    li
                        a.dropdown-item(href='/blog-posts/'+user.username)#dropdown-item My Blog Page
                    li
                        a.dropdown-item(type='button' data-toggle='modal' data-target='#contactModal')#dropdown-item Manage Account
                    li
                        a.dropdown-item(href='/user/logout')#dropdown-item Logout



           






// About Section
#about
    .container
        .section-title.text-center.center
            h2 About Me
            hr
        .row
            .col-md-12.text-center
                if user1.profilePicID
                    img.img-responsive(src='http://localhost:3000/user/image/'+ user1.profilePicID.filename)
                if !user1.profilePicID
                    img.img-responsive(src='/img/defaultProfile.png' alt='No Profile Picture')
            .col-md-8.col-md-offset-2
                .about-text
                    p
                        | #{user1.bio}
                    .text-center
                        p.text-center
                        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#bioModal')
                            | Edit About Me
                    br
                    br
                    .text-center
                        if user1.resumeID
                            a.btn.btn-primary(href='http://localhost:3000/user/resume/'+user1.resumeID.filename+'?iframe=true&width=1000&height=1000' title= 'Resume' rel='prettyPhoto')
                                i.fa.fa-download
                                |  View Resume
// Skills Section
#skills.text-center
    .container
        .section-title
            h2 Skills
            hr
    .container
        .holder
            .dot.dot1.top
                svg(x='0px' y='0px' viewbox='0 0 101 101' xml:space='preserve' preserveAspectRatio="xMidYMin")
                    path#XMLID_17_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                    M62.2,76.3H38.8c-1,0-1.9-0.8-1.9-1.9v-1.8c0-1,0.8-1.9,1.9-1.9h23.3c1,0,1.9,0.8,1.9,1.9v1.8C64,75.5,63.2,76.3,62.2,76.3z')
                    path#XMLID_16_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                    M79.6,39.9c0-16.1-13-29.1-29.1-29.1s-29.1,13-29.1,29.1c0,11.2,6.3,20.9,15.6,25.8c0,0.1,0,0.1,0,0.2V68c0,1.5,1.2,2.8,2.8,2.8\
                    h21.5c1.5,0,2.8-1.2,2.8-2.8v-2.1c0-0.1,0-0.1,0-0.2C73.3,60.9,79.6,51.1,79.6,39.9z')
                    path#XMLID_15_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                    M62.2,81.9H38.8c-1,0-1.9-0.8-1.9-1.9v-1.8c0-1,0.8-1.9,1.9-1.9h23.3c1,0,1.9,0.8,1.9,1.9V80C64,81.1,63.2,81.9,62.2,81.9z')
                    path#XMLID_14_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                    M62.2,87.4H38.8c-1,0-1.9-0.8-1.9-1.9v-1.8c0-1,0.8-1.9,1.9-1.9h23.3c1,0,1.9,0.8,1.9,1.9v1.8C64,86.6,63.2,87.4,62.2,87.4z')
                    path#XMLID_13_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                    M42.9,87.4c0,1.5,1.2,2.8,2.8,2.8s2.8-1.2,2.8-2.8')
                    path#XMLID_10_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                    M52.6,87.4c0,1.5,1.2,2.8,2.8,2.8s2.8-1.2,2.8-2.8')
                    line#XMLID_19_(fill='none' stroke='#FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' x1='37.5' y1='40.8' x2='47.5' y2='70.8')
                    line#XMLID_18_(fill='none' stroke='#FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' x1='63.5' y1='40.8' x2='53.5' y2='70.8')
            .dot.dot2.mid
                svg(x='0px' y='0px' viewbox='0 0 101 101' xml:space='preserve' preserveAspectRatio="xMidYMin")
                    g#XMLID_56_
                        path#XMLID_22_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                        M78.2-8.2C55.8,14.1,46.2,19.1,46.2,19.1L65,38l18.9,18.9c0,0,4.9-9.7,27.3-32.1')
                        polygon#XMLID_54_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' points='\
                        65,38 46.2,19.1 22.5,69.4 28.1,74.9 33.6,80.4 83.9,56.8     ')
                        path#XMLID_52_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                        M23.3,70.2c-2.6,2.6-2.6,6.8,0,9.4c2.6,2.6,6.8,2.6,9.4,0L23.3,70.2z')
            .dot.dot3.btm
                svg(x='0px' y='0px' viewbox='0 0 101 101' xml:space='preserve' preserveAspectRatio="xMidYMin") 
                    g#XMLID_121_
                        line#XMLID_139_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' x1='-25.9' y1='36.1' x2='27.8' y2='5.1')
                        line#XMLID_138_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' x1='82.1' y1='36.1' x2='28.3' y2='67.1')
                        polyline#XMLID_137_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' points='\
                        28.3,5.1 82.1,36.1 82.1,74.1 28.3,105.1     ')
                        polygon#XMLID_136_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' points='\
                        27.8,105.1 -25.9,74.1 -25.9,36.1 27.8,67.1  ')
                        ellipse#XMLID_135_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' cx='28.7' cy='42.9' rx='11.1' ry='5.1')
                        path#XMLID_134_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                        M17.6,42.9v7c0,2.8,5,5.1,11.1,5.1s11.1-2.3,11.1-5.1v-7')
                        ellipse#XMLID_133_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' cx='28.7' cy='18.4' rx='11.1' ry='5.1')
                        path#XMLID_132_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                        M17.6,18.4v7c0,2.8,5,5.1,11.1,5.1s11.1-2.3,11.1-5.1v-7')
                        ellipse#XMLID_131_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' cx='3' cy='30.8' rx='11.1' ry='5.1')
                        path#XMLID_130_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                        M-8.1,30.8v7c0,2.8,5,5.1,11.1,5.1S14,40.6,14,37.8v-7')
                        ellipse#XMLID_129_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' cx='54' cy='30.8' rx='11.1' ry='5.1')
                        path#XMLID_123_(fill='none' stroke='#FFFFFF' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='10' d='\
                        M42.9,30.8v7c0,2.8,5,5.1,11.1,5.1s11.1-2.3,11.1-5.1v-7')
        br
        br
    .row.w3-animate-opacity
        for c in user1.skills  
            .column
                h #{c.name}
    a.reset(href='#skills')
        |Replay
        

        
         
// Portfolio Section
#portfolio
    .container
        .section-title.text-center.center
            h2 Portfolio
            //embed(src='http://localhost:3000/user/document/'+user1.document[0].filename type='application/pdf' width='200' height='400')
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#portfolioModal')
                |Add Portfolio Item
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#editPortfolioModal')
                | Edit Portfolio
            br
            br
            hr
            .clearfix
        .row
            .portfolio-items
                for doc in user1.document
                    .col-sm-6.col-md-3.col-lg-3.web
                        .portfolio-item
                            .hover-bg
                                a(href='http://localhost:3000/user/document/'+doc.filename+'?iframe=true&width=1000&height=1000' title=doc.filename rel='prettyPhoto')
                                    .hover-text
                                        h4 #{doc.title}
                                        small #{doc.subHead}
                                    embed(src='http://localhost:3000/user/document/'+doc.filename + '#toolbar=0&navpanes=0&scrollbar=0' type='application/pdf' width='270' height='300')

// Resume Section
#experience.text-center
    .container
        .section-title.center
            h2 Experience
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editExperience')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addExperience')
                | Add
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user1.experience
                        li
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.experienceStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.experienceEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.company}
                                    h4.subheading
                                        span #{c.role}
                                .timeline-body
                                    p
                                        | #{c.description}
                                    br

// Education section                   
#education.text-center
    .container
        .section-title.center
            h2 Education
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editEducation')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addEducation')
                | Add
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user1.education
                        li.timeline-inverted
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.educationStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.educationEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.university}
                                    h4.subheading
                                        span #{c.degree}
                                .timeline-body
                                    p
                                        | #{c.description}
                                    br


                        
// Contact Section
#contact.text-center
    .container
        .section-title.center
            h2 Contact
            br
            br
            hr
        .col-md-8.col-md-offset-2
            .col-md-4
                i.fa.fa-map-marker.fa-2x
                p #{user1.city}, #{user1.state}
            .col-md-4
                i.fa.fa-envelope-o.fa-2x
                p #{user1.email}
            .col-md-4
                i.fa.fa-phone.fa-2x
                p  #{user1.phone}
            .clearfix
        .col-md-8.col-md-offset-2
            h3 Leave me a message

            .social
                ul
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    li
                        a(href='#')
                            i.fa.fa-github
                    li
                        a(href='#')
                            i.fa.fa-instagram
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    
#footer
    .container.text-center
        .fnav
            p
                | Tessagon
        .social
             ul
                li
                    iframe#down(src='https://www.facebook.com/plugins/share_button.php?href=https://tessagon-e-portfolio.herokuapp.com/user/profile/'+ user1.username + '%2F&layout=button&size=small&width=67&height=20&appId'  width='77' height='28' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
                    script(type='IN/Share' data-url='https://tessagon-e-portfolio.herokuapp.com/user/profile/'+ user1.username)
        


script(type='text/javascript' src='/js/jquery.1.11.1.js')
script(type='text/javascript' src='/js/bootstrap.js')
script(type='text/javascript' src='/js/SmoothScroll.js')
script(type='text/javascript' src='/js/easypiechart.js')
script(type='text/javascript' src='/js/jquery.prettyPhoto.js')
script(type='text/javascript' src='/js/jquery.isotope.js')
script(type='text/javascript' src='/js/jquery.counterup.js')
script(type='text/javascript' src='/js/waypoints.js')
script(type='text/javascript' src='/js/jqBootstrapValidation.js')
script(type='text/javascript' src='/js/contact_me.js')
script(type='text/javascript' src='/js/main.js')
script(type='text/javascript' src='/js/typewriter.js')
script(type='text/javascript' src='/js/modalID.js')
script(src='/js/experienceScript.js')
script(src='/js/educationScript.js')
script(type='text/javascript' src='/js/navbar.js')




#portfolioModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/upload' enctype="multipart/form-data").form-signin
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#portfolioModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    label(for='uploadDocuments') Document Title
                    input.form-control-file(name='title' type='text' placeholder='Title' autofocus='' required='isRequired')
                    label(for='uploadDocuments') Document Subheading
                    input.form-control-file.padLeft(name='subHead' type='text' placeholder='Sub-Heading' autofocus='' required='isRequired')
                    label(for='uploadDocuments') Upload a document
                    input#uploadDocuments.form-control-file(name='file' type='file' required='isRequired' accept="application/pdf")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type ='submit') Upload file

#editPortfolioModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editPortfolioModalLabel.modal-title Edit Portfolio
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for doc_name in user1.document
                    h3 #{doc_name.title} - #{doc_name.subHead}
                    button.btn.btn-secondary.delete-document(type ='button', document-id=doc_name._id) Remove
                    hr
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-secondary(type ='submit') Save changes

#bioModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='bioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editAboutMe' enctype="multipart/form-data")
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#bioModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#AboutMe.form-control(name="bio" type='text' autofocus='' maxlength='500' required='isRequired' value = user1.bio)
                    label(for='AboutMe') Tell me about yourself! Max 500 characters.
                    br
                    label(for='editResume') Edit your resume!
                    input#editResume.form-control-file(name='resume' type='file' accept="application/pdf")
                    label(for='editProfilePic') Edit your profile picture!
                    input#editProfilePic.form-control-file(name='propic' type='file')
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes            

#contactModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editNavInfo')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#contactModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#contactNumber.form-control(name="phone_number" type='tel' placeholder='phone' autofocus='' pattern='[0-9]{4} [0-9]{3} [0-9]{3}' required='isRequired' value = user1.phone_number)
                    label(for='contactNumber') Contact number (E.g 0412 345 678)
                    br
                    input#inputCity.form-control(name="city" type='text' placeholder='City' autofocus='' required='isRequired' value = user1.city)
                    label(for='inputCity') City
                    br
                    input#inputState.form-control(name="state" type='text' placeholder='State' autofocus='' required='isRequired' value.user1.state)
                    label(for='inputState') State
                    br
                    input#inputEmail.form-control(name='email' type='email' placeholder='Email address' required='' value = user1.email)
                    label(for='inputEmail') Email address

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes


#homeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='homeModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editHomeInfo' enctype="multipart/form-data")
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#homeModalLabel.modal-title Edit Home Page
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    label First Name
                    input#inputFirstname.form-control(name="first_name" type='text' autofocus='' required='isRequired' value = user1.first_name)
                    br
                    label Last Name
                    input#inputSurname.form-control(name="last_name" type='text' autofocus='' required='isRequired' value = user1.last_name)
                    br
                    label Typewriter 1
                    input.form-control(name='typewriterWords' type='text' autofocus='' value = user1.typewriterWords[0])
                    br
                    label Typewriter 2
                    input.form-control(name='typewriterWords' type='text' autofocus='' value = user1.typewriterWords[1])
                    br
                    label Typewriter 3
                    input.form-control(name='typewriterWords' type='text' autofocus='' value = user1.typewriterWords[2])
                    br
                    input#editBackgroundPic.form-control-file(name='background' type='file')
                    label(for='editBackgroundPic') Edit your background picture!
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes

#addExperience.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addExperiencelabel' aria-hidden='true')
    form(method='POST' action='/user/addExperience')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#addExperiencelabel.modal-title Add new Experience
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#addCompany.form-control(name="company" type='text' autofocus='' required='isRequired')
                    label(for='addExperience') Company Name
                    br
                    input#addRole.form-control(name="role" type='text' autofocus='' required='isRequired')
                    label(for='addRole') Role Name
                    br
                    input#addDescription.form-control(name="description" type='text' autofocus='' required='isRequired')
                    label(for='addDescription') Short description of your role!
                    br
                    .col-md-3
                        label(for='expStartDate') Start date:
                        input#expStartDate(name= "experienceStartDate" type='month' required='isRequired')
                    .col-md-3
                        label(for='expEndDate') End date:
                        input#expEndDate(name= "experienceEndDate" type='month' required='isRequired')
                br
                br
                br
                br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary.add-experience(type='submit') Save changes

#editExperience.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editExperiencelabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editExperiencelabel.modal-title Edit Experience
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for i in user1.experience
                    h3 #{i.company}
                    form(method='POST' action='/user/editExperience/' + i._id)
                        label(for='company'+i._id) Company Name
                        input.form-control(id='company'+i._id name="company" type='text' autofocus='' required='isRequired' value=i.company)
                        br
                        label(for='role'+i._id) Role
                        input.form-control(id='role'+i._id name="role" type='text' autofocus='' required='isRequired' value=i.role)
                        br
                        label(for='eduDescription'+i._id) Short description of your role!
                        input.form-control(id='eduDescription'+i._id name="description" type='text' autofocus='' required='isRequired' value=i.description)
                        br
                        .container
                            .row
                                .col-md-6
                                    | Start date:
                                    input.padDate(id='expStart'+i._id name= "experienceStartDate" type='month' required='isRequired' value=i.experienceStartDate)
                                .col-md-6
                                    | End date:
                                    input.padDate(id='expEnd'+i._id name= "experienceEndDate" type='month' required='isRequired' value=i.experienceEndDate)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-experience(href='/user/profile#experience' experience-id=i._id) Save changes
                                    a.btn.btn-secondary.delete-experience(href='/user/profile#experience' experience-id=i._id) Delete Experience
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

#addEducation.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='educationModalLabel' aria-hidden='true')
    form(method='POST' action='/user/addEducation')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#addEducationlabel.modal-title Add new Education
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#university.form-control(name="university" type='text' autofocus='' required='isRequired')
                    label(for='university') School Name
                    br
                    input#degree.form-control(name="degree" type='text' autofocus='' required='isRequired')
                    label(for='degree') Degree Name
                    br
                    input#eduDescription.form-control(name="description" type='text' autofocus='' required='isRequired')
                    label(for='eduDescription') Add a bit about your degree!
                    br
                    .col-md-3
                        label(for='eduStartDate') Start date:
                        input#eduStartDate(name= "educationStartDate" type='month' required='isRequired')
                    .col-md-3
                        label(for='eduEndDate') End date:
                        input#eduEndDate(name= "educationEndDate" type='month' required='isRequired')
                br
                br
                br
                br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary.add-education(type='submit') Save changes


#editEducation.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editEducationlabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editEducationlabel.modal-title Edit Education
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for i in user1.education
                    h3 #{i.university}
                    form(method='POST' action='/user/editEducation/' + i._id)
                        label(for='university'+i._id) University Name
                        input.form-control(id='university'+i._id name="university" type='text' autofocus='' required='isRequired' value=i.university)
                        br
                        label(for='degree'+i._id) Degree
                        input.form-control(id='degree'+i._id name="degree" type='text' autofocus='' required='isRequired' value=i.degree)
                        br
                        label(for='eduDescription'+i._id) Short description about your degree!
                        input.form-control(id='eduDescription'+i._id name="description" type='text' autofocus='' required='isRequired' value=i.description)
                        br
                        .container
                            .row
                                .col-md-6
                                    | Start date:
                                    input.padDate(id='eduStart'+i._id name= "educationStartDate" type='month' required='isRequired' value=i.educationStartDate)
                                .col-md-6
                                    | End date:
                                    input.padDate(id='eduEnd'+i._id name= "educationEndDate" type='month' required='isRequired' value=i.educationEndDate)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-education(href='/user/profile#education' type='submit' education-id=i._id) Save changes
                                    a.btn.btn-secondary.delete-education(href='/user/profile#education' education-id=i._id) Delete Education
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close