doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title E-Portfolio | #{user1.first_name} #{user1.last_name}
    meta(name='description' content='')
    meta(name='author' content='')
    //
      Favicons
      ==================================================
    link(rel='shortcut icon' href='/img/favicon1.ico' type='image/x-icon')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/img/apple-touch-icon-114x114.png')
    // icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome/css/font-awesome.css')
    //
      Stylesheet
      ==================================================

    link(rel='stylesheet' type='text/css' href='/css/typewriter.css')
    link(rel='stylesheet' type='text/css' href='/css/index.css')
    link(rel='stylesheet' type='text/css' href='/css/prettyPhoto.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css')
    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(type='text/javascript' src='/js/modernizr.custom.js')

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
// Header
header#header.d-flex.flex-column.justify-content-center
    nav.nav-menu
        ul.nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.active
                a.page-scroll(href='#hero').text-center
                    i.fa.fa-home.navbar-icons
                        span Home
            li
                a.page-scroll(href='#about').text-center 
                    i.fa.fa-user.navbar-icons
                        span About
            li
                a.page-scroll(href='#skills').text-center
                    i.fa.fa-rocket.navbar-icons
                        span skills
            li
                a.page-scroll(href='#portfolio').text-center 
                    i.fa.fa-suitcase.navbar-icons
                        span Portfolio
            li
                a.page-scroll(href='#experience').text-center  
                    i.fa.fa-fire.navbar-icons
                        span Experience
            li
                a.page-scroll(href='#education').text-center
                    i.fa.fa-graduation-cap.navbar-icons
                        span Education
            li
                a.page-scroll(href='#contact').text-center
                    i.fa.fa-address-card.navbar-icons
                        span Contact

#hero.d-flex.flex-column.justify-content-center
    .intro
        .container
            .row#homescreen
                .intro-text
                    h1.title
                        | Hello, I&apos;m
                        span.name  #{user1.first_name}
                    p
                        |I'm a
                        span.txt-rotate(data-period='1000' data-rotate='[ " Designer.", " Developer.", " Typewriter!" ]')

                    a.btn.btn-default.btn-lg.page-scroll(href='#about') Learn More
                    br
                    br
                    a.btn.btn-default.btn-lg.page-scroll(type='button' data-toggle='modal' data-target='#homeModal')
                        |Edit Home Page

#nav
    nav.navbar.navbar-custom
        .container
            .navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-main-collapse')
                    i.fa.fa-bars
                img(src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png", alt="", width = "50vh")
                a.navbar-brand.page-scroll(href='#page-top') #{user1.first_name} #{user1.last_name}
            // Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse.navbar-right.navbar-main-collapse
                ul.nav.navbar-nav
                    li.topnavbar
                        // if user change this to edit..
                        a.btn(href='/user/logout') Logout
                    li.topnavbar
                        a.button.btn(type='button' data-toggle='modal' data-target='#contactModal') Edit Account Details



// About Section
#about
    .container
        .section-title.text-center.center
            h2 About Me
            hr
        .row
            .col-md-12.text-center
                img.img-responsive(src='img/about.jpg')
            .col-md-8.col-md-offset-2
                .about-text
                    p
                        | #{user1.bio}
                    .text-center
                        p.text-center
                        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#bioModal')
                            | Edit About Me
                    br
                    br
                    .text-center
                        a.btn.btn-primary(href='#')
                            i.fa.fa-download
                            |  Download Resume
// Skills Section
#skills.text-center
    .container
        .section-title.center
            h2 Skills
            hr
        .row
            .col-md-4.col-sm-6.skill
                span.chart(data-percent='95')
                    span.percent 95
                h4 HTML5
            .col-md-4.col-sm-6.skill
                span.chart(data-percent='85')
                    span.percent 85
                h4 CSS3
            .col-md-4.col-sm-6.skill
                span.chart(data-percent='80')
                    span.percent 80
                h4 jQuery
            .col-md-4.col-sm-6.skill
                span.chart(data-percent='80')
                    span.percent 80
                h4 WordPress
            .col-md-4.col-sm-6.skill
                span.chart(data-percent='70')
                    span.percent 70
                h4 Photoshop
            .col-md-4.col-sm-6.skill
                span.chart(data-percent='65')
                    span.percent 65
                h4 Illustrator
// Portfolio Section
#portfolio
    .container
        .section-title.text-center.center
            h2 Portfolio
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#portfolioModal')
                |Edit Portfolio
            br
            br
            hr
            .clearfix
        .row
            .portfolio-items
                .col-sm-6.col-md-3.col-lg-3.web
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/01-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small Web Design
                                img.img-responsive(src='img/portfolio/01-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.app
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/02-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small App Development
                                img.img-responsive(src='img/portfolio/02-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.web
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/03-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small Web Design
                                img.img-responsive(src='img/portfolio/03-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.web
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/04-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small Web Design
                                img.img-responsive(src='img/portfolio/04-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.app
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/05-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small App Development
                                img.img-responsive(src='img/portfolio/05-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.branding
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/06-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small Branding
                                img.img-responsive(src='img/portfolio/06-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.branding.app
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/07-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small App Development, Branding
                                img.img-responsive(src='img/portfolio/07-small.jpg' alt='Project Title')
                .col-sm-6.col-md-3.col-lg-3.web
                    .portfolio-item
                        .hover-bg
                            a(href='img/portfolio/08-large.jpg' title='Project description' rel='prettyPhoto')
                                .hover-text
                                    h4 Project Title
                                    small Web Design
                                img.img-responsive(src='img/portfolio/08-small.jpg' alt='Project Title')
// Resume Section
#experience.text-center
    .container
        .section-title.center
            h2 Experience
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editExperience')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addExperience')
                | Add
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user1.experience
                        li
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.experienceStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.experienceEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.company}
                                    h4.subheading
                                        span #{c.role}
                                .timeline-body
                                    p
                                        | #{c.description}
                                    br

// Education section                   
#education.text-center
    .container
        .section-title.center
            h2 Education
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#editEducation')
                | Edit
            a.btn.btn-primary.padButton(type='button' data-toggle='modal' data-target='#addEducation')
                | Add
            br
            br
            hr
        .row
            .col-lg-12
                ul.timeline
                    for c in user1.education
                        li.timeline-inverted
                            .timeline-image
                                h4
                                    span.dateSize #{moment(c.educationStartDate).format('LL')}
                                    |
                                    br
                                    .dateSize                 To
                                    span.dateSize #{moment(c.educationEndDate).format('LL')}
                            .timeline-panel
                                .timeline-heading
                                    h4
                                        span #{c.university}
                                    h4.subheading
                                        span #{c.degree}
                                .timeline-body
                                    p
                                        | #{c.description}
                                    br


                        
// Contact Section
#contact.text-center
    .container
        .section-title.center
            h2 Contact
            br
            br
            hr
        .col-md-8.col-md-offset-2
            .col-md-4
                i.fa.fa-map-marker.fa-2x
                p #{user1.city}, #{user1.state}
            .col-md-4
                i.fa.fa-envelope-o.fa-2x
                p #{user1.email}
            .col-md-4
                i.fa.fa-phone.fa-2x
                p  #{user1.phone}
            .clearfix
        .col-md-8.col-md-offset-2
            h3 Leave me a message

            .social
                ul
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    li
                        a(href='#')
                            i.fa.fa-github
                    li
                        a(href='#')
                            i.fa.fa-instagram
                    li
                        a(href='#')
                            i.fa.fa-linkedin
#footer
    .container.text-center
        .fnav
            p
                | Tessagon
script(type='text/javascript' src='/js/jquery.1.11.1.js')
script(type='text/javascript' src='/js/bootstrap.js')
script(type='text/javascript' src='/js/SmoothScroll.js')
script(type='text/javascript' src='/js/easypiechart.js')
script(type='text/javascript' src='/js/jquery.prettyPhoto.js')
script(type='text/javascript' src='/js/jquery.isotope.js')
script(type='text/javascript' src='/js/jquery.counterup.js')
script(type='text/javascript' src='/js/waypoints.js')
script(type='text/javascript' src='/js/jqBootstrapValidation.js')
script(type='text/javascript' src='/js/contact_me.js')
script(type='text/javascript' src='/js/main.js')
script(type='text/javascript' src='/js/typewriter.js')
script(type='text/javascript' src='/js/modalID.js')
script(src='/js/experienceScript.js')
script(src='/js/educationScript.js')


#portfolioModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#portfolioModalLabel.modal-title Edit Bio
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                |Edit documents here
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-secondary(type='button') Save change

#bioModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='bioModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editAboutMe')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#bioModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#AboutMe.form-control(name="bio" type='text' autofocus='' maxlength='500' required='isRequired' value = user1.bio)
                    label(for='AboutMe') Tell me about yourself! Max 500 characters.
                    br
                    label(for='editResume') Edit your resume!
                    input#editResume.form-control-file(type='file')
                    label(for='editProfilePic') Edit your profile picture!
                    input#editProfilePic.form-control-file(type='file')
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes            

#contactModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editNavInfo')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#contactModalLabel.modal-title Edit Bio
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#contactNumber.form-control(name="phone_number" type='tel' placeholder='phone' autofocus='' pattern='[0-9]{4} [0-9]{3} [0-9]{3}' required='isRequired' value = user1.phone_number)
                    label(for='contactNumber') Contact number (E.g 0412 345 678)
                    br
                    input#inputCity.form-control(name="city" type='text' placeholder='City' autofocus='' required='isRequired' value = user1.city)
                    label(for='inputCity') City
                    br
                    input#inputState.form-control(name="state" type='text' placeholder='State' autofocus='' required='isRequired' value.user1.state)
                    label(for='inputState') State
                    br
                    input#inputEmail.form-control(name='email' type='email' placeholder='Email address' required='' value = user1.email)
                    label(for='inputEmail') Email address

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes


#homeModal.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='homeModalLabel' aria-hidden='true')
    form(method='POST' action='/user/editHomeInfo')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#homeModalLabel.modal-title Edit Home Page
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#inputFirstname.form-control(name="first_name" type='text' autofocus='' required='isRequired' value = user1.first_name)
                    label(for='inputFirstname') First Name
                    br
                    input#inputSurname.form-control(name="last_name" type='text' autofocus='' required='isRequired' value = user1.last_name)
                    label(for='inputSurname') Last Name
                    br
                    br
                    input#editBackgroundPic.form-control-file(type='file')
                    label(for='editBackgroundPic') Edit your background picture!
                    

                .modal-footer
                    
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary(type='submit') Save changes

#addExperience.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addExperiencelabel' aria-hidden='true')
    form(method='POST' action='/user/addExperience')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#addExperiencelabel.modal-title Add new Experience
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#addCompany.form-control(name="company" type='text' autofocus='' required='isRequired')
                    label(for='addExperience') Company Name
                    br
                    input#addRole.form-control(name="role" type='text' autofocus='' required='isRequired')
                    label(for='addRole') Role Name
                    br
                    input#addDescription.form-control(name="description" type='text' autofocus='' required='isRequired')
                    label(for='addDescription') Short description of your role!
                    br
                    .col-md-3
                        label(for='expStartDate') Start date:
                        input#expStartDate(name= "experienceStartDate" type='month' required='isRequired')
                    .col-md-3
                        label(for='expEndDate') End date:
                        input#expEndDate(name= "experienceEndDate" type='month' required='isRequired')
                br
                br
                br
                br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary.edit-experience(type='submit') Save changes

#editExperience.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editExperiencelabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editExperiencelabel.modal-title Edit Experience
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for i in user1.experience
                    h3 #{i.company}
                    form(method='POST' action='/user/editExperience/' + i._id)
                        label(for='company'+i._id) Company Name
                        input.form-control(id='company'+i._id name="company" type='text' autofocus='' required='isRequired' value=i.company)
                        br
                        label(for='role'+i._id) Role
                        input.form-control(id='role'+i._id name="role" type='text' autofocus='' required='isRequired' value=i.role)
                        br
                        label(for='eduDescription'+i._id) Short description of your role!
                        input.form-control(id='eduDescription'+i._id name="description" type='text' autofocus='' required='isRequired' value=i.description)
                        br
                        .container
                            .row
                                .col-md-6
                                    | Start date:
                                    input.padDate(id='expStart'+i._id name= "experienceStartDate" type='month' required='isRequired' value=i.experienceStartDate)
                                .col-md-6
                                    | End date:
                                    input.padDate(id='expEnd'+i._id name= "experienceEndDate" type='month' required='isRequired' value=i.experienceEndDate)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-experience(href='/user/profile#experience' experience-id=i._id) Save changes
                                    a.btn.btn-secondary.delete-experience(href='/user/profile#experience' experience-id=i._id) Delete Experience
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

#addEducation.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='educationModalLabel' aria-hidden='true')
    form(method='POST' action='/user/addEducation')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#addEducationlabel.modal-title Add new Education
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#addUniversity.form-control(name="school" type='text' autofocus='' required='isRequired')
                    label(for='addUniversity') School Name
                    br
                    input#addDegree.form-control(name="degree" type='text' autofocus='' required='isRequired')
                    label(for='addDegree') Degree Name
                    br
                    input#eduDescription.form-control(name="description" type='text' autofocus='' required='isRequired')
                    label(for='eduDescription') Add a bit about your degree!
                    br
                    .col-md-3
                        label(for='eduStartDate') Start date:
                        input#eduStartDate(name= "educationStartDate" type='month' required='isRequired')
                    .col-md-3
                        label(for='eduEndDate') End date:
                        input#eduEndDate(name= "educationEndDate" type='month' required='isRequired')
                br
                br
                br
                br
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-secondary.edit-education(type='submit') Save changes


#editEducation.topModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editEducationlabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#editEducationlabel.modal-title Edit Education
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                for i in user1.education
                    h3 #{i.university}
                    form(method='POST' action='/user/editEducation/' + i._id)
                        label(for='university'+i._id) University Name
                        input.form-control(id='university'+i._id name="university" type='text' autofocus='' required='isRequired' value=i.university)
                        br
                        label(for='degree'+i._id) Degree
                        input.form-control(id='degree'+i._id name="degree" type='text' autofocus='' required='isRequired' value=i.degree)
                        br
                        label(for='eduDescription'+i._id) Short description about your degree!
                        input.form-control(id='eduDescription'+i._id name="description" type='text' autofocus='' required='isRequired' value=i.description)
                        br
                        .container
                            .row
                                .col-md-6
                                    | Start date:
                                    input.padDate(id='eduStart'+i._id name= "educationStartDate" type='month' required='isRequired' value=i.educationStartDate)
                                .col-md-6
                                    | End date:
                                    input.padDate(id='eduEnd'+i._id name= "educationEndDate" type='month' required='isRequired' value=i.educationEndDate)
                        br
                        .container
                            .row
                                .col-md-6
                                    button.btn.btn-secondary.edit-education(href='/user/profile#education' type='submit' education-id=i._id) Save changes
                                    a.btn.btn-secondary.delete-education(href='/user/profile#education' education-id=i._id) Delete Education
                        br
                        hr.wide
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close