extends blog-layout

block content

    br
    br
    .container
        .card.mb-4.cardStyleViewBlog
            h5 Posted by 
                a(href = '/user/profile/'+blog.author)#black #{blog.author}
                span  #[ #{moment(blog.date).startOf('day').fromNow()}]
            #blog-title
                h1= blog.title
            hr
            br
            p= blog.body
            if user
                if user.username == blog.author
                    .row
                        a.btn.btn-default.btn-sm(href='/blog-posts/'+user.username+'/edit/'+blog._id).buttonMargin Edit
                        a.btn.btn-danger.btn-sm.delete-blog(href='#', data-id=blog._id, user-username=user.username).buttonMargin Delete
            hr
            .container
                if (user)
                    // Comments Form
                    .card.my-4
                        h5.card-header Leave a comment as #{user.username}:
                        .card-body
                            form(method='POST', action='/comments/'+blog.author+'/'+blog._id)
                                .form-group
                                    textarea.form-control(rows='3' name='content')
                                button.btn.btn-primary(type='submit') Submit
                if (!user)
                    .card.my-4
                        h5.card-header Sign in to join the discussion!
                        .card-body
                            form
                                .form-group
                                    a.btn.btn-primary(data-toggle='modal' data-target='#loginModal')  Sign in to comment!
                                    
            br
            br
            #indentComments
                each c in blog.comments
                    .media#borderComment
                        img#commentProfilePic(src='http://localhost:3000/user/images/'+ c.profilePicID alt='no_image')     
                        .media-body
                            h5.mt-0 #{c.author}
                            .dropdown.no-arrow
                                a#dropdownMenuLink(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                                .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                                    .dropdown-header Options
                                    a.dropdown-item(type='button' data-toggle='modal' data-target='#reportModal') Report Post
                                #comment-top #{c.content}
                                    if user
                                        if user.username == c.author
                                            a.btn.btn-link.edit-comment(type= 'button') Edit

                                        form.edit-comment-form(method='POST', action='/comments/edit/'+c._id)
                                            input.form-control(name='content', value= c.content)
                                            a.btn.btn-link.delete-comment(href='#', blog-id=c.parentPost, comment-id=c._id, user-username=blog.author) delete
                                            input.btn.btn-link.save-comment(type='submit', value='save')
                                    //h7.card-header.number-of-likes Likes: #{c.numberOfLikes}

                            .panel-footer#comment-bottom
                                p #[a(href = '/user/profile/'+c.author) #[i.glyphicon.glyphicon-user] #{' ' } ]
                                    span #{moment(c.date).fromNow()}
                                if user
                                    if user.username == c.author
                                        a.btn.btn-link.edit-comment(type= 'button') Edit
                                    if c.likedUsers.includes(user._id)
                                        input.like-comment#liked(type= 'image' src='/img/liked.svg' comment-id=c._id blog-id=blog._id, user-username=user.username, comment-liked=c.numberOfLikes, comment-unliked=c.numberOfLikes - 1)
                                    else
                                        input.like-comment(type= 'image' src='/img/unliked.svg' comment-id=c._id blog-id=blog._id, user-username=user.username, comment-liked=c.numberOfLikes + 1, comment-unliked=c.numberOfLikes)
                                    //a.btn.btn-link.reply-to-comment(type= 'button') Reply

                                    form.edit-comment-form(method='POST', action='/comments/edit/' + c._id)
                                        input.form-control(name='content', value= c.content)
                                        a.btn.btn-link.delete-comment(href='#', blog-id=c.parentPost, comment-id=c._id, user-username=blog.author) delete
                                        input.btn.btn-link.save-comment(type='submit', value='save')
                                h7.card-header.number-of-likes Likes: #{c.numberOfLikes}

                    hr

                    #reportModal.modal.fade
                        .modal-dialog.modal-dialog-centered
                            .modal-content
                                .modal-header
                                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                                .modal-body
                                    h5#centre Are you sure you want to report this post?
                                    #confirm
                                        btn.btn-primary.btn-sm.report-comment(href='#'  comment-id=c._id harassing-user=c.author) Yes
                                        #divide
                                        btn.report(data-dismiss='modal' type='button') No
                                .modal-footer
                            
        script(src='https://kit.fontawesome.com/d7fc33007f.js', crossorigin='anonymous')
        
        //script.
            function incrementLikes(comment) {
                $(".like-comment").click(function(){
                    $(".number-of-likes").val(comment.numberOfLikes + 1);
                }
            }


    
